html{width:1900px;margin:0 auto}

html, body {
  min-width: 1300px;
  height: 100%; }

i {
  display: inline-block; }

.hover-bar{display:none;position:absolute;top:106px;left:271px;height:4px;background-color:#2d247a}
.hover-bar.move{display:block}

.container {
  position: relative;
  width: 1300px;
  min-width: 1300px;
  margin: 0 auto; }
  .container:after {
    content: "";
    display: block;
    clear: both; }

.top-banner {
  text-align: center;
  position:relative;
  z-index: 9999;
  display:none;
  width:100%;
}
.top-banner .banner-item {
  position:relative;
}
.top-banner img {
  min-height:90px;
  max-height:400px;
}
.top-banner .btn-group{
  position:absolute;
  width:100%;
  left:0;
  right:0;
  top:1em;
  margin-top:0;
  height:0;
  }
.top-banner .btn-group .btn-container{
  width:80%;
  text-align:right;
  margin:0 auto;
}
.top-banner .btn-group .btn-container label{
	display:block;
	float:right;
	color:white;
	font-size:14px;
	line-height:15px;
}
.top-banner .btn-group .btn-container label input[type=checkbox]{
	display:none;
}
.top-banner .btn-group .btn-container label input[type=checkbox] + span{
	width:11px;
	height:12px;
	display:inline-block;
	position:relative;
	margin-right:5px;
	cursor:pointer;
	background:url('/images/client/pc/kor/img/top-banner-chk-box.png') center no-repeat;
}
.top-banner .btn-group .btn-container label input[type=checkbox]:checked + span:after{
	content:'';
	width:11px;
	height:12px;
	position:absolute;
	left:0;
	top:0;
	display:block;
	background:url('/images/client/pc/kor/img/top-banner-chk-active.png') center no-repeat;
}

.top-banner .btn-close-banner {
  width:24px;
  height:24px;
  text-indent:-99999px;
  background:url('/images/client/pc/kor/img/top-banner-close.png') center no-repeat;
  cursor:pointer;
  clear:both;
  display:inline-block;
  margin-top:10px;
  float:right;
}
.m-popup {
  position:absolute;
  z-index:11111;
  background:white;
  display:none;
}
.m-popup img {
  width: auto;
  max-width: 700px;
  min-width:250px;
}
.m-popup .btn-group {
  margin-top:0;
  background:#333333;
}
.m-popup .btn-group .btn-container{
  padding:11.5px 15px;
  display:table;
  width:100%;
  box-sizing:border-box;
}
.m-popup .btn-group .btn-container label{
	display:inline-block;
	color:white;
	font-size:14px;
	line-height:15px;
	float:left;
}
.m-popup .btn-group .btn-container label input[type=checkbox]{
	display:none;
}
.m-popup .btn-group .btn-container label input[type=checkbox] + span{
	width:11px;
	height:11px;
	display:inline-block;
	position:relative;
	margin-right:5px;
	cursor:pointer;
	vertical-align:middle;
	background:url('/images/client/pc/kor/img/layer-pop-chk-box.png') center no-repeat;
}
.m-popup .btn-group .btn-container label input[type=checkbox]:checked + span:after{
	content:'';
	width:11px;
	height:12px;
	position:absolute;
	left:0;
	top:0;
	display:inline-block;
	background:url('/images/client/pc/kor/img/top-banner-chk-active.png') center no-repeat;
}

.m-popup .btn-close-pop {
  width:12px;
  height:12px;
  text-indent:-99999px;
  background:url('/images/client/pc/kor/img/layer-pop-close.png') center no-repeat;
  cursor:pointer;
  display:inline-block;
  float:right;
  vertical-align:top;
}

#header {
  transition: height .5s, background-color .5s;
  -webkit-transition: height .5s, background-color .5s;
  -ms-transition: height .5s, background-color .5s;
  position: fixed;
  z-index: 9998;
  /*width: 100%;*/
  width:1900px;margin:0 auto;

  /*white-header*/ }
  #header .top-logo {
    float: left;
    margin-top: 35px; }
    #header .top-logo a {
      display: block;
      width: 166px;
      height: 35px;
      background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
      background-position: -15px -19px;
      text-indent: -9999em; }
  #header .nav {
    float: left;
    padding-left: 105px;
    transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s; }
    #header .nav:after {
      content: "";
      display: block;
      clear: both; }
    #header .nav > li {
      float: left;
      position: relative; }
     #header.white-ver .nav li:hover > a{
      color:#302782;
     }
      #header .nav > li > a {
        display: block;
        width:165px;
        height: 109px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        line-height: 107px;
        letter-spacing: -1px;
      transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;}
      #header .nav > li .sub-menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top:135px;
        z-index: 20; }
        #header .nav > li .sub-menu li a {
          display: inline-block;
          padding-left:30px;
          font-size: 16px;
          font-weight: 400;
          color: #555;
          text-align: left;
          line-height: 45px;
          box-sizing: border-box; }
        #header .nav > li .sub-menu .sitemap-menu {
          display: none; }
        #header .nav > li .sub-menu .sitemap-dept {
          display: none; }
  #header .select-lang {
    overflow: hidden;
    position: absolute;
    top: 34px;
    right: 72px;
    z-index: 9999;
    width: 105px;
    height: 40px;
    line-height: 39px;
    border: 1px solid #fff;
    border-radius: 25px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all .5s; }
    #header .select-lang a {
      display: block;
      padding-left: 30px;
      color: #fff;
      font-size: 14px;
      font-weight: 200;
      box-sizing: border-box;
      text-transform: uppercase; }
    #header .select-lang i {
      width: 12px;
      height: 8px;
      background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
      background-position: -7px -7px;
      vertical-align: 1px;
      margin-left: 16px; }
    #header .select-lang.on {
      transition: background-color .5s;
      -webkit-transition: background-color .5s;
      -ms-transition: background-color .5s;
      height: auto; }
      #header .select-lang.on i {
        background-position: -24px -34px !important; }
  #header .btn-siteMap {
    position: absolute;
    top: 40px;
    right: 0;
    display: block;
    width: 38px;
    height: 26px;
    background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
    background-position: -46px -6px;
    text-indent: -9999em; }
    #header .btn-siteMap.on {
      background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
      background-position: -142px -6px; }
  #header .menu-slideBg {
    display: none;
    position: absolute;
    top: 110px;
    z-index: 10;
    width: 100%;
    height: 430px;
    border-top: 1px solid #b2b2b2;
    background-color: #fff;
    box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.1); }
  #header #progress-bar {
    opacity:1;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    transition:opacity .5s;
    -webkit-transition:opacity .5s;
    -ms-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -o-transition:opacity .5s;
  }
  #header #progress-bar.hide{
    opacity:0 !important;
    transition:opacity .5s;
    -webkit-transition:opacity .5s;
    -ms-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -o-transition:opacity .5s;
  }
    #header #progress-bar .bar {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: #302782; }
  
  #header.white-ver {
    border-bottom:1px solid #e0e0e0;
    background-color: #fff; }
    #header.white-ver .nav li a {
      color: #333; }
    #header.white-ver .select-lang {
      border: 1px solid #333;
      background-color: #fff; }
      #header.white-ver .select-lang a {
        color: #333; }
        #header.white-ver .select-lang a i {
          background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
          background-position: -7px -21px; }
      #header.white-ver .select-lang.on {
        transition: background-color .5s;
        -webkit-transition: background-color .5s;
        -ms-transition: background-color .5s;
        height: auto; }
        #header.white-ver .select-lang.on i {
          background-position: -7px -35px !important; }
    #header.white-ver .sub-menu li a {
      color: #333 !important; }
      #header.white-ver .sub-menu li a:hover {
        color: #302782 !important;
        font-weight:600; }
    #header.white-ver .btn-siteMap {
      background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
      background-position: -99px -6px; }
      #header.white-ver .btn-siteMap.on {
        background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
        background-position: -142px -6px; }

.menu-totalBg.on + #header,
.menu-totalBg.on + #header.white-ver {
  background-color: transparent; }
  .menu-totalBg.on + #header .top-logo a,
  .menu-totalBg.on + #header.white-ver .top-logo a {
    background: url("/images/client/pc/kor/layout/logo-white.png") no-repeat 0 0; }
  .menu-totalBg.on + #header .select-lang,
  .menu-totalBg.on + #header.white-ver .select-lang {
    background-color: transparent;
    border: 1px solid #fff; }
    .menu-totalBg.on + #header .select-lang a,
    .menu-totalBg.on + #header.white-ver .select-lang a {
      color: #fff; }
      .menu-totalBg.on + #header .select-lang a i,
      .menu-totalBg.on + #header.white-ver .select-lang a i {
        background: url(/images/client/pc/kor/layout/ico-common.png) no-repeat;
        background-position: -7px -7px; }
    .menu-totalBg.on + #header .select-lang.on i,
    .menu-totalBg.on + #header.white-ver .select-lang.on i {
      background-position: -24px -34px !important; }
  .menu-totalBg.on + #header .nav a,
  .menu-totalBg.on + #header.white-ver .nav a {
    color: #333 !important; }
    .menu-totalBg.on + #header .nav > li > a,
    .menu-totalBg.on + #header.white-ver .nav > li > a{
    color:#322a83 !important;
    font-size:23px;transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;
    }


/*  .menu-totalBg.on + #header .nav .sub-menu,
  .menu-totalBg.on + #header.white-ver .nav .sub-menu {
    display: block !important; }*/

  .menu-totalBg.on + #header .nav .sub-menu.show,
  .menu-totalBg.on + #header.white-ver .nav .sub-menu.show{
    display:block!important;
    animation-name:subShow;animation-duration: .5s;
  }
  @keyframes subShow{
    0%{opacity:0;}
    100%{opacity:1;}
  }


  .menu-totalBg.on + #header .nav .sitemap-menu,
  .menu-totalBg.on + #header.white-ver .nav .sitemap-menu {
    display: block; }
  .menu-totalBg.on + #header .nav .sitemap-dept,
  .menu-totalBg.on + #header.white-ver .nav .sitemap-dept {
    display: none;
    margin:5px 0 }
    .menu-totalBg.on + #header .nav .sitemap-dept a,
    .menu-totalBg.on + #header.white-ver .nav .sitemap-dept a {
      font-size: 15px !important;
      font-weight: 400;
      line-height: 2; }
    .menu-totalBg.on + #header .nav .sitemap-dept a:hover,
    .menu-totalBg.on + #header.white-ver .nav .sitemap-dept a:hover{
      color:#322a83 !important;
      text-decoration:underline;
      text-underline-position:under
    }

.menu-totalBg.on + #header{border-bottom-color:#fff}
.menu-totalBg.on + #header .nav{
  margin-top:125px;
  transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;
 }
.menu-totalBg.on + #header .nav > li > a{
  width:188px;
}
.menu-totalBg.on + #header .nav > li .sub-menu{
  top:120px;
  min-height:380px;
  border-right:1px solid #e5e5e5;
}
.menu-totalBg.on + #header .nav > li:first-child .sub-menu{
  border-left:1px solid #e5e5e5;
}
.menu-totalBg.on + #header .nav > li .sub-menu a{
  font-size:18px;
  font-weight:400;
}

  .ico-arrowBasic{
    display: none;
    width: 20px;
    height: 20px;
    background: url(/images/client/pc/kor/layout/ico-common.png) no-repeat;
    background-position: -153px -100px;
    vertical-align: middle;
    cursor:pointer;
  }

  .menu-totalBg.on + #header .nav > li .sub-menu .ico-arrowBasic{
    display:inline-block;
    transition:transform .2s;-ms-transition:transform .2s;-webkit-transition:transform .2s;-moz-transition:transform .2s;-o-transition:transform .2s;
  }

   .menu-totalBg.on + #header .nav > li .sub-menu .ico-arrowBasic.on{
    transform:rotate(180deg);
    transition:transform .2s;-ms-transition:transform .2s;-webkit-transition:transform .2s;-moz-transition:transform .2s;-o-transition:transform .2s;
   }

.menu-totalBg {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /*height: 980px;*/
  height:100%;
  z-index: 9997;
  background: url('/images/client/pc/kor/layout/bg-sitemap.jpg') no-repeat;
  background-size:cover}

  #footer {
    background-color: #282c38; }
    #footer .contents {
      height: 111px;
      padding-bottom: 0; }
      #footer .contents .bottom-logo {
        display: inline-block;
        float: left;
        width: 194px;
        height: 43px;
        margin-top: 35px;
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -204px -20px;
        text-indent: -9999em; }
      #footer .contents .copy-info {
        overflow: hidden;
        float: left;
        margin: 48px 0 0 38px; }
        #footer .contents .copy-info li {
          float: left;
          height: 15px;
          padding: 0 12px;
          border-left: 1px solid #888;
          font-size: 13px;
          color: #999;
          line-height: 13px; }
          #footer .contents .copy-info li:first-child {
            border-left: none; }
          #footer .contents .copy-info li a {
            color: #999;
            font-size: 13px;
            font-weight: 100; }
      #footer .contents .link-group {
        float: right;
        position: relative;
        width: 385px;
        margin-top: 35px; }
        #footer .contents .link-group .sns-group {
          overflow: hidden; }
          #footer .contents .link-group .sns-group li {
            float: left;
            margin-left: 10px; }
            #footer .contents .link-group .sns-group li:first-child {
              margin-left: 0; }
            #footer .contents .link-group .sns-group li a {
              display: inline-block;
              width: 38px;
              height: 38px;
              text-indent: -9999em; }
              #footer .contents .link-group .sns-group li a.ico-facebook {
                background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
                background-position: -98px -47px; }
              #footer .contents .link-group .sns-group li a.ico-insta {
                background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
                background-position: -6px -47px; }
              #footer .contents .link-group .sns-group li a.ico-youtube {
                background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
                background-position: -51px -47px; }
              #footer .contents .link-group .sns-group li a.ico-naver {
                background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
                background-position: -145px -47px; }
        #footer .contents .link-group .fmilay-site {
          position: absolute;
          top: 0;
          right: 0;
          overflow: hidden;
          width: 180px;
          height: 45px;
          background-color: #3c414e;
          line-height: 45px; }
          #footer .contents .link-group .fmilay-site a {
            display: block;
            padding-left: 20px;
            font-size:14px;
            box-sizing: border-box;
            color: #dedede; }
            #footer .contents .link-group .fmilay-site a i {
              float:right;
              width: 15px;
              height: 10px;
              margin: 20px 16px 0 0;
              background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
              background-position: -23px -22px; }

  #footer .contents .link-group .fmilay-site.on{overflow:visible}
  #footer .contents .link-group .fm-sctInner{position:relative;}
  #footer .contents .link-group .fm-sctInner > a{position:relative;z-index:20;}
  #footer .contents .link-group .fmilay-site.on .fm-sctInner > a{color:#dedede}
  .fm-sctInner + ul{display:none;position:absolute;bottom:0;z-index:10;width:100%;padding-bottom:45px;background:#3c414e}
  .fm-sctInner + ul a{font-size:14px;color:#fff !important}
  #footer .contents .link-group .fmilay-site.on a i{background-position-y:-6px;}
  #footer .contents .link-group .fmilay-site.on .fm-sctInner + ul{display:block;}
    #footer .contents .link-group .fmilay-site.on .fm-sctInner + ul li{border-bottom:1px solid #505460}
  /*# sourceMappingURL=layout.css.map */
