@import url(lib/slick.css);
@import url(lib/swiper.min.css);
.main-slider {
  position: relative;
  overflow: hidden;
  z-index: 9000; }
  .main-slider > div > .container > .slider-txt {
    opacity: 0; }
  .main-slider .slick-track {
    overflow: hidden;
    height: 937px; }
    .main-slider .slick-track .slick-slide .slider-bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      transform: scale(1.2, 1.2);
      -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      transition: transform 10s ease-in-out;
      -webkit-transition: transform 10s ease-in-out;
      -ms-transition: transform 10s ease-in-out;
      -webkit-backface-visibility: hidden;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      z-index: 1; }
    .main-slider .slick-track .slick-slide:nth-child(1) .slider-bg {
      background-image: url("/images/client/pc/kor/img/bg-mainConcept-slide1.jpg"); }
    .main-slider .slick-track .slick-slide:nth-child(2) .slider-bg {
      background-image: url("/images/client/pc/kor/img/bg-mainConcept-slide2.jpg"); }
    .main-slider .slick-track .slick-slide:nth-child(3) .slider-bg {
      background-image: url("/images/client/pc/kor/img/bg-mainConcept-slide3.jpg"); }
    .main-slider .slick-track .slick-slide:nth-child(4) .slider-bg {
      background-image: url("/images/client/pc/kor/img/bg-mainConcept-slide4.jpg"); }
    .main-slider .slick-track .slick-slide:nth-child(5) .slider-bg {
      background-image: url("/images/client/pc/kor/img/bg-mainConcept-slide5.jpg"); }
    .main-slider .slick-track .slick-slide .container {
      z-index: 10;
      display: table;
      height: 100%;
      padding: 0 40px;
      box-sizing: border-box; }
    .main-slider .slick-track .slider-txt {
      display: table-cell;
      color: #fff;
      padding-top:260px;
      text-align:center;
      box-sizing:border-box  }
      .main-slider .slick-track .slider-txt h2 {
        font-size: 68px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -2px;
        opacity: 0;
        transform: translate(0px);
        -webkit-transform: translate(0px);
        -ms-transform: translate(0px);
        transition: all 2s ease-in-out;
        -webkit-transition: all 2s ease-in-out;
        -ms-transition: all 2s ease-in-out; }
        .main-slider .slick-track .slider-txt .txt-key { 
            opacity:0;
            display: inline-block;
             margin:0 0 30px 40px;
            padding: 0 20px;
            border: 1px solid #fff;
            color:#fff;
            font-size:38px;
            font-weight:800;
            line-height: 63px;
            text-transform:uppercase;
            transition: all 2s ease-in-out;
            -webkit-transition: all 2s ease-in-out;
            -ms-transition: all 2s ease-in-out; 
          }
      .main-slider .slick-track .slider-txt .slider-txtSub {
        padding-top: 50px;
        font-size: 22px;
        opacity: 0;
        transform: translate(20px);
        -webkit-transform: translate(20px);
        -ms-transform: translate(20px);
        transition: all 2s ease-in-out;
        -webkit-transition: all 2s ease-in-out;
        -ms-transition: all 2s ease-in-out; }
    .main-slider .slick-track .slick-animated .slider-bg {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: rotate(0.001deg); }
    .main-slider .slick-track .slick-animated .slider-txt h2 {
      opacity: 1;
      transform: translate(20px, 0);
      -webkit-transform: translate(20px, 0);
      -ms-transform: translate(20px, 0); }
       .main-slider .slick-track .slick-animated .slider-txt .txt-key{
      opacity:1;      
    }
    .main-slider .slick-track .slick-animated .slider-txt .slider-txtSub {
      opacity: 1;
      transform: translate(20px, -20px);
      -webkit-transform: translate(20px, -20px);
      -ms-transform: translate(20px, -20px); }
  .main-slider .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 9000;
    margin-left: -650px; }
    .main-slider .slick-dots li {
      float: left;
      position: relative;
      width: 260px; }
      .main-slider .slick-dots li .sd-con {
        width: 260px;
        height: 100px; }
       .main-slider .slick-dots li .sd-con a{ background:rgba(0,0,0, .6);}
        .main-slider .slick-dots li .sd-con.sd0 {
          background-position: 0 20px; }
        .main-slider .slick-dots li .sd-con.sd1 {
          background-position: -260px 20px; }
        .main-slider .slick-dots li .sd-con.sd2 {
          background-position: -520px 20px; }
        .main-slider .slick-dots li .sd-con.sd3 {
          background-position: -780px 20px; }
        .main-slider .slick-dots li .sd-con.sd4 {
          background-position: -1040px 20px; }
        .main-slider .slick-dots li .sd-con.sd5 {
          background-position: -1040px 20px; }
        .main-slider .slick-dots li .sd-con.sd6 {
          background-position: -1040px 20px; }
        .main-slider .slick-dots li .sd-con.sd7 {
          background-position: -1040px 20px; }
        .main-slider .slick-dots li .sd-con.sd8 {
          background-position: -1040px 20px; }
        .main-slider .slick-dots li .sd-con.sd9 {
          background-position: -1040px 20px; }
      .main-slider .slick-dots li a {
        position: absolute;
        bottom: 0;
        display: block;
        width: 260px;
        height: 80px;
        color: #fff;
        font-size:15px;
        font-weight: 400;
        line-height: 80px;
        text-align: center; 
        text-transform:uppercase;}
      .main-slider .slick-dots li a:before {
        display: block; }
      .main-slider .slick-dots li.slick-animated .sd-con {
        bottom: 0;
        box-sizing: border-box;
        transition: all .5s;
        -webkit-transition: all .5s;
        -ms-transition: all .5s; }
        .main-slider .slick-dots li.slick-animated .sd-con.sd0 {
          background-position: 0 0; }
        .main-slider .slick-dots li.slick-animated .sd-con.sd1 {
          background-position: -260px 0%; }
        .main-slider .slick-dots li.slick-animated .sd-con.sd2 {
          background-position: -520px 0%; }
        .main-slider .slick-dots li.slick-animated .sd-con.sd3 {
          background-position: -780px 0%; }
        .main-slider .slick-dots li.slick-animated .sd-con.sd4 {
          background-position: -1040px 0%; }
        .main-slider .slick-dots li.slick-animated .sd-con.sd5 {
          background-position: -1040px 0%; }
        .main-slider .slick-dots li.slick-animated .sd-con.sd6 {
          background-position: -1040px 0%; }
        .main-slider .slick-dots li.slick-animated .sd-con.sd7 {
          background-position: -1040px 0%; }
        .main-slider .slick-dots li.slick-animated .sd-con.sd8 {
          background-position: -1040px 0%; }
        .main-slider .slick-dots li.slick-animated .sd-con.sd9 {
          background-position: -1040px 0%; }
        .main-slider .slick-dots li.slick-animated .sd-con a {
          position: absolute;
          padding: 10px 0;
          color: #fff;
          background-color:#302782;
          font-weight: 500;
          transition: all .5s;
          -webkit-transition: all .5s;
          -ms-transition: all .5s; }
           .main-slider .slick-dots li .sd-con a:after{
          content: "";
          opacity:1;
          position:absolute;
          top:35px;
          left:0;
          display:inline-block;
          width:1px;
          height:15px;
          background-color:rgba(255,255,255,.3);
        }
        .main-slider .slick-dots li:first-child .sd-con a:after,
        .main-slider .slick-dots li.slick-animated .sd-con a:after,
        .main-slider .slick-dots li.slick-animated + li .sd-con a:after{
          opacity:0;
           transition: opacity .2s;
          -webkit-transition: opacity .2s;
          -ms-transition: opacity .2s;
        }
      /* .main-slider .slick-dots li:nth-child(1) a:before {
        content: "Service"; }
      .main-slider .slick-dots li:nth-child(2) a:before {
        content: "True Heart"; }
      .main-slider .slick-dots li:nth-child(3) a:before {
        content: "Love"; }
      .main-slider .slick-dots li:nth-child(4) a:before {
        content: "Development"; }
      .main-slider .slick-dots li:nth-child(5) a:before {
        content: "Trust"; } */

.contents {
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 120px; }

.tle-con, .magazine-area .mz-con .tle-con {
  padding-top: 120px;
  font-size: 55px;
  font-weight: 900;
  color: #302782;
  line-height: 55px;
  text-transform: uppercase;
  text-align: center; }

.tle-sub {
  padding-top: 30px;
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  text-align: center; }

.tab-btn.boram-category {
  padding: 65px 0 40px; }
  .tab-btn.boram-category li {
    float: left;
    width: 184px;
    text-align: center; }
    .tab-btn.boram-category li:first-child {
      width: 115px; }
    .tab-btn.boram-category li:nth-child(2), .tab-btn.boram-category li:nth-child(3) {
      width: 132px; }
    .tab-btn.boram-category li a {
      display: inline-block;
      height: 50px;
      padding: 0 16px;
      border-radius: 25px;
      font-size: 20px;
      font-weight: 400;
      color: #333;
      line-height: 50px;
      letter-spacing: -1px;
      text-align: center; }
    .tab-btn.boram-category li.on a {
      color: #302782;
      border: 1px solid #302782;
      font-weight: 500; }
  .tab-btn.boram-category:after {
    content: "";
    display: block;
    clear: both; }

.tab-content > div {
  display: none;
  position: relative;
  overflow: hidden; }
.tab-content .show {
  display: block;
  animation: show 1s;
  -webkit-animation: show 1s; }
.tab-content .rt-area {
  float: left;
  width: 100%;
  }
.tab-content:after {
  content: "";
  display: block;
  clear: both; }
.tab-content .tabCon8 {
  border: 0.3px solid #cccbd1; }
  .tab-content .tabCon8 .boram-groupTotal li {
    float: left;
    border: 1px solid #d7d7d7;
    text-align: center;
    box-sizing: border-box;
    margin-right: -1px;
    margin-bottom: -1px; }
    .tab-content .tabCon8 .boram-groupTotal li:nth-child(1), .tab-content .tabCon8 .boram-groupTotal li:nth-child(2), .tab-content .tabCon8 .boram-groupTotal li:nth-child(3), .tab-content .tabCon8 .boram-groupTotal li:nth-child(4),.tab-content .tabCon8 .boram-groupTotal li:nth-child(5),.tab-content .tabCon8 .boram-groupTotal li:nth-child(6) {
      border-top: none; }
    .tab-content .tabCon8 .boram-groupTotal li div {
      width: 215.5px;
      height: 90px;
      margin: 0 auto;
      text-indent: -9999em; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo1 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: 0 -100px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo2 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -220px -100px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo3 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -430px -100px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo4 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -650px -100px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo5 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -860px -100px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo6 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -1080px -100px; }


      .tab-content .tabCon8 .boram-groupTotal li div.logo7 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: 0 -195px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo8 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -220px -195px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo9 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -430px -195px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo10 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -650px -195px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo11 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -860px -195px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo12 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -1080px -195px; }


      .tab-content .tabCon8 .boram-groupTotal li div.logo13 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: 0px -295px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo14 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -220px -295px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo15 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -430px -295px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo16 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -650px -295px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo17 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -860px -295px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo18 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -1080px -295px; }


      .tab-content .tabCon8 .boram-groupTotal li div.logo19 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: 0px -385px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo20 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -220px -385px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo21 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -430px -385px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo22 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -650px -385px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo23 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -860px -385px; }
      .tab-content .tabCon8 .boram-groupTotal li div.logo24 {
        background: url("/images/client/pc/kor/layout/ico-logo.png") no-repeat;
        background-position: -1080px -385px; }
  .tab-content .tabCon8 .boram-groupTotal:after {
    content: "";
    display: block;
    clear: both; }

.magazine-area {
  position: relative; }
  .magazine-area .slick-slide {
    overflow: hidden;
    color: #fff;
    background-size: cover;
    background-repeat:no-repeat; }
    .magazine-area .slick-slide.mz1 {
      background: url("/images/client/pc/kor/img/bg-megazine1.jpg") no-repeat 50% 50%; }
    .magazine-area .slick-slide.mz2 {
      background: url("/images/client/pc/kor/img/bg-megazine2.jpg") no-repeat 50% 50%; }
    .magazine-area .slick-slide.mz3 {
      background: url("/images/client/pc/kor/img/bg-megazine3.jpg") no-repeat 50% 50%; }
    .magazine-area .slick-slide .contents {
      overflow: hidden;
      padding: 160px 0; }
  .magazine-area .img-con {
    float: left;
    box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.3); }
  .magazine-area .mz-con {
    position: relative;
    float: left;
    width: 610px;
    margin-left: 90px; }
    .magazine-area .mz-con .tle-con {
      padding: 0;
      color: #fff;
      text-align: left; }
    .magazine-area .mz-con .mz-conSub {
      margin-top: 50px; }
      .magazine-area .mz-con .mz-conSub .cate {
        font-size: 20px;
        font-weight: 200; }
      .magazine-area .mz-con .mz-conSub h3 {
        margin-top: 25px;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.3; }
      .magazine-area .mz-con .mz-conSub .con-txt {
        margin-top: 42px;
        padding: 20px 0;
        border-top: 1px solid #9e948f;
        box-sizing: border-box;
        word-break: keep-all; }
      .magazine-area .mz-con .mz-conSub .btn-more {
        display: inline-block;
        height: 34px;
        margin: 20px 0;
        padding: 0 30px;
        border: 1px solid #fff;
        border-radius: 25px;
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s; }
    .magazine-area .mz-con .mz-conSub .btn-more:hover{
      background:#fff;
      color:#333;
      transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;
    }
  .magazine-area .mzBtn-group {
    position: absolute;
    bottom: -50px;
    left: -2px; }
  .magazine-area .mz-prev, .magazine-area .mz-next {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #f00;
    text-indent: -9999em; }
  .magazine-area .mz-prev {
    background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
    background-position: -8px -167px; }
  .magazine-area .mz-next {
    background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
    background-position: -54px -167px;
    margin-left: 20px; }
  .magazine-area .slide-count-wrap {
    position: absolute;
    bottom: -50px;
    left: 120px;
    font-size: .8em; }
    .magazine-area .slide-count-wrap .current {
      padding-left: 0.4em; }
    .magazine-area .slide-count-wrap .slash {
      width: 2.5em;
      height: 1px;
      background-color: #fff;
      transform: rotate(-38deg);
      -webkit-transform: rotate(-38deg);
      -ms-transform: rotate(-38deg);
      transform-origin: 57% 50%;
      -webkit-transform-origin: 57% 50%;
      -ms-transform-origin: 57% 50%; }
    .magazine-area .slide-count-wrap .total {
      padding-left: 1.5em; }

.magazine-area + .contents {
  padding-bottom: 0; }

.magazine-list {
  margin-top: 65px; }
  .magazine-list:after {
    content: "";
    display: block;
    clear: both; }
  .magazine-list li {
    float: left;
    position: relative;
    width: 390px;
    height: 530px;
    margin-left: 65px; }
    .magazine-list li:first-child {
      margin-left: 0; }
    .magazine-list li .mz-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 390px;
      border: 1px solid #d7d7d7;
      box-sizing: border-box; }
      .magazine-list li .mz-box .mz-img {
        overflow: hidden; }
        .magazine-list li .mz-box .mz-img img {
          width: 100%; }
      .magazine-list li .mz-box .mz-boxTxt {
        padding: 40px 30px;
        box-sizing: border-box; }
        .magazine-list li .mz-box .mz-boxTxt .mz-boxCate {
          position: relative;
          color: #302782;
          font-size: 18px;
          font-weight: 600; }
          .magazine-list li .mz-box .mz-boxTxt .mz-boxCate:after {
            position: absolute;
            top: 5px;
            left: -30px;
            content: "";
            display: block;
            width: 6px;
            height: 18px;
            background-color: #302782; }
        .magazine-list li .mz-box .mz-boxTxt a {
          display: block;
          height: 72px;
          margin-top: 20px;
          color:#333;
          font-size: 24px;
          font-weight: 600;
          line-height: 1.4;
          word-break: keep-all; }
          .magazine-list li .mz-box .mz-boxTxt a:hover {
            color: #302782; }
        .magazine-list li .mz-box .mz-boxTxt .upload-date {
          display: inline-block;
          margin-top: 5px;
          font-weight: 300; }

.btn-social {
  margin-top: 85px;
  text-align: center; }
  .btn-social li {
    display: inline-block;
    margin-left: 20px;
    font-size: 0; }
    .btn-social li a {
      display: block;
      width: 64px;
      height: 64px;
      border: 1px solid #b6b6b6;
      border-radius: 50%; }
      .btn-social li a i {
        display: inline-block;
        width: 29px;
        height: 27px;
        margin-top: 18px; }
      .btn-social li a.btn-all i {
        background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
        background-position: -6px -95px; }
      .btn-social li a.btn-facebook i {
        background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
        background-position: -36px -95px; }
      .btn-social li a.btn-instagram i {
        background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
        background-position: -72px -95px; }
      .btn-social li a.btn-youtube i {
        background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
        background-position: -113px -95px; }
    .btn-social li:first-child {
      margin-left: 0; }
    .btn-social li.on a {
      background-color: #302782;
      border-color: #302782; }
      .btn-social li.on a.btn-all i {
        background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
        background-position: -6px -130px; }
      .btn-social li.on a.btn-facebook i {
        background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
        background-position: -36px -130px; }
      .btn-social li.on a.btn-instagram i {
        background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
        background-position: -72px -130px; }
      .btn-social li.on a.btn-youtube i {
        background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
        background-position: -113px -130px; }

.social-con {
  min-width: 1300px;
  width: 1300px; }
  .social-con > div {
    overflow: hidden;
    border: none; }
    .social-con > div > ul {
      overflow: hidden;
      min-width: 1300px;
      width: 1300px;
      margin-top: 37px;
      transition: all .5s; }
    .social-con > div li.grid-item {
      display: none;
      float: left;
      width: 388px;
      border: 1px solid #d7d7d7;
      margin-bottom: 65px; }
      .social-con > div li.grid-item .img {
        display: block; }
        .social-con > div li.grid-item .img img {
          width: 100%; }
      .social-con > div li.grid-item .social-cate {
        position: relative;
        display: block;
        height: 62px;
        padding: 0 25px;
        border-bottom: 1px solid #d7d7d7;
        font-size: 20px;
        font-weight: 500;
        line-height: 62px;
        box-sizing: border-box; }
        .social-con > div li.grid-item .social-cate > i {
          float: left;
          display: inline-block;
          width: 38px;
          height: 38px;
          margin: 11px 15px 0 0;
          text-indent: -9999em; }
          .social-con > div li.grid-item .social-cate > i.ico-facebook {
            background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
            background-position: -98px -47px; }
          .social-con > div li.grid-item .social-cate > i.ico-insta {
            background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
            background-position: -6px -47px; }
          .social-con > div li.grid-item .social-cate > i.ico-youtube {
            background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
            background-position: -51px -47px; }
          .social-con > div li.grid-item .social-cate > i.ico-naver {
            background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
            background-position: -145px -47px; }
        .social-con > div li.grid-item .social-cate .btn-share {
          position: absolute;
          top: 0;
          right: 0;
          display: inline-block;
          width: 3.1em;
          text-align: center;
          cursor: pointer; }
          .social-con > div li.grid-item .social-cate .btn-share > i {
            width: 1.5em;
            height: 1.5em;
            background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
            background-position: -112px -171px;
            vertical-align: middle; }
          .social-con > div li.grid-item .social-cate .btn-share .list-share {
            display: none;
            position: absolute;
            top: 61px;
            right: -1px;
            z-index: 9999;
            width: 145px;
            padding: .2em .5em;
            background-color: #fff;
            border: 1px solid #d7d7d7;
            text-align: center;
            vertical-align: middle;
            line-height: 1; }
            .social-con > div li.grid-item .social-cate .btn-share .list-share:before {
              position: absolute;
              top: -6px;
              right: 26px;
              content: "";
              display: block;
              width: .5em;
              height: .5em;
              border-top: 1px solid #d7d7d7;
              border-left: 1px solid #d7d7d7;
              background-color: #fff;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg); }
            .social-con > div li.grid-item .social-cate .btn-share .list-share a {
              display: inline-block;
              width: 45px;
              height: 45px; }
              .social-con > div li.grid-item .social-cate .btn-share .list-share a i {
                width: 1.2em;
                height: 1.2em;
                margin-top: 0.55em; }
                .social-con > div li.grid-item .social-cate .btn-share .list-share a i.share-talk {
                  background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
                  background-position: -14px -220px; }
                .social-con > div li.grid-item .social-cate .btn-share .list-share a i.share-facebook {
                  background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
                  background-position: -60px -220px; }
                .social-con > div li.grid-item .social-cate .btn-share .list-share a i.share-twitter {
                  background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
                  background-position: -151px -220px; }
          .social-con > div li.grid-item .social-cate .btn-share.open {
            border-left: 1px solid #d7d7d7; }
            .social-con > div li.grid-item .social-cate .btn-share.open > i {
              background: url("/images/client/pc/kor/layout/ico-common.png") no-repeat;
              background-position: -152px -170px; }
            .social-con > div li.grid-item .social-cate .btn-share.open .list-share {
              display: block; }
      .social-con > div li.grid-item .info p {
        color:#333;
        padding: 20px 28px;
        box-sizing: border-box; }
      .social-con > div li.grid-item:nth-child(3n+1) {
        margin-left: 0; }
  .social-con .grid-item.show {
    display: block !important; }
  .social-con .btn-more a {
    display: block;
    width: 180px;
    height: 53px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 53px;
    color: #302782;
    border-radius: 25px;
    border: 1px solid #302782;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;}
  .social-con .btn-more a:hover{
    background:#302782;
    color:#fff;
    transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;
  }
.award-area.gtie9 {
  padding-bottom: 120px;
  background-color: #f4f9fc; }
  .award-area.gtie9 .award-slider {
    max-width: 1770px;
    min-width: 1300px;
    height: 655px;
    margin: 0 auto; }
    .award-area.gtie9 .award-slider .swiper-wrapper {
      margin-top: 70px;
      box-sizing: border-box; }
      .award-area.gtie9 .award-slider .swiper-wrapper .award-item {
        width: 391px;
        height: 505px;
        padding: 35px 0;
        background-color: transparent;
        box-sizing: border-box;
        text-align: center;
        opacity: .5;
        transform: scale(0.9); }
        .award-area.gtie9 .award-slider .swiper-wrapper .award-item .award-logo {
          width: 100px;
		  padding-top:55px;
          height: 120px;
          margin: 0 auto; }
        .award-area.gtie9 .award-slider .swiper-wrapper .award-item .award-info strong {
          display: inline-block;
          margin: 10px 0 20px;
          font-size: 30px;
		  color:#333333;
          font-weight: 400;
          letter-spacing: -1px; }
        .award-area.gtie9 .award-slider .swiper-wrapper .award-item .award-info p {
          font-size: 22px;
		  color:rgba(0,0,0,0.8);
          font-weight: 300;
          line-height: 1.4; }
      .award-area.gtie9 .award-slider .swiper-wrapper .swiper-slide-prev,
      .award-area.gtie9 .award-slider .swiper-wrapper .swiper-slide-active,
      .award-area.gtie9 .award-slider .swiper-wrapper .swiper-slide-next {
        margin-top: 0;
        opacity: 1;
        transform: scale(1);
        background: url("/images/client/pc/kor/layout/bg-award.png") no-repeat 50% 50%;
        background-size: cover; }
	.award-area.gtie9 .award-slider .swiper-wrapper .swiper-slide-prev .award-logo,
	.award-area.gtie9 .award-slider .swiper-wrapper .swiper-slide-active .award-logo,
	.award-area.gtie9 .award-slider .swiper-wrapper .swiper-slide-next .award-logo	{
		  padding-top:55px;
          height: 250px;}
    .award-area.gtie9 .award-slider .swiper-pagination {
      margin-top: 70px;
      text-align: center; }
      .award-area.gtie9 .award-slider .swiper-pagination span {
        display: inline-block;
        margin-left: 17px;
        width: 15px;
        height: 15px;
        border-radius: 25px;
        background-color: #c3c3c3;
        transition: padding .5s;
        -webkit-transition: padding .5s;
        -ms-transition: padding .5s; }
        .award-area.gtie9 .award-slider .swiper-pagination span:first-child {
          margin-left: 0; }
        .award-area.gtie9 .award-slider .swiper-pagination span.swiper-pagination-bullet-active {
          padding-right: 10px;
          background-color: #302782;
          transition: padding .5s;
          -webkit-transition: padding .5s;
          -ms-transition: padding .5s; }

.award-area.ie9 {
  display: none;
  padding-bottom: 120px;
  background-color: #f4f9fc; }
  .award-area.ie9 .slick-slide {
    width: 387px; }
  .award-area.ie9 .award-slider {
    max-width: 1770px;
    min-width: 1300px;
    margin: 0 auto; }
    .award-area.ie9 .award-slider .slick-list {
      margin-top: 70px;
      box-sizing: border-box; }
      .award-area.ie9 .award-slider .slick-list .award-item {
        width: 391px;
        height: 505px;
        margin: 70px auto 0;
        padding: 35px 0;
        box-sizing: border-box;
        text-align: center;
        opacity: .5;
        zoom: 0.8;
        transition: all .5s; }
        .award-area.ie9 .award-slider .slick-list .award-item .award-logo {
          width: 221px;
          height: 225px;
          margin: 0 auto; }
        .award-area.ie9 .award-slider .slick-list .award-item .award-info strong {
          display: inline-block;
          margin: 10px 0 20px;
          font-size: 30px;
          font-weight: 500;
          letter-spacing: -1px; }
        .award-area.ie9 .award-slider .slick-list .award-item .award-info p {
          font-size: 22px;
          font-weight: 400;
          line-height: 1.4; }
      .award-area.ie9 .award-slider .slick-list .slick-animated .award-item {
        margin-top: 0;
        opacity: 1;
        zoom: 1;
        background: url("/images/client/pc/kor/layout/bg-award.png") no-repeat 50% 50%;
        background-size: cover;
        animation-name: award-itemShow;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; }
    .award-area.ie9 .award-slider .slick-dots {
      margin-top: 70px;
      text-align: center; }
      .award-area.ie9 .award-slider .slick-dots li {
        display: inline-block;
        margin-left: 17px; }
        .award-area.ie9 .award-slider .slick-dots li:first-child {
          margin-left: 0; }
        .award-area.ie9 .award-slider .slick-dots li a {
          display: block;
          width: 15px;
          height: 15px;
          border-radius: 25px;
          background-color: #c3c3c3;
          transition: padding .5s;
          -webkit-transition: padding .5s;
          -ms-transition: padding .5s; }
        .award-area.ie9 .award-slider .slick-dots li.slick-animated a {
          padding-right: 10px;
          background-color: #302782;
          transition: padding .5s;
          -webkit-transition: padding .5s;
          -ms-transition: padding .5s; }

.recruit-area {
  overflow: hidden; }
  .recruit-area .recruit-box {
    overflow: hidden;
    float: left;
    position: relative;
    width: 50%;
    padding: 91px 0 75px 0;
    box-sizing: border-box;
    text-align: center;
    color: #fff; }
    .recruit-area .recruit-box strong {
      font-size: 40px;
      font-weight: 600; }
    .recruit-area .recruit-box p {
      font-size: 23px; }
    .recruit-area .recruit-box .bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      transition: all 1s;
      -webkit-transition: all 1s;
      -ms-transition: all 1s;
      -webkit-backface-visibility: hidden;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      z-index: -1; }
    .recruit-area .recruit-box.rc-section1 .bg {
      background: url("/images/client/pc/kor/img/bg-recruit1.jpg") no-repeat 50% 50%;
      background-size: cover; }
    .recruit-area .recruit-box.rc-section2 .bg {
      background: url("/images/client/pc/kor/img/bg-recruit2.jpg") no-repeat 50% 50%;
      background-size: cover; }
    .recruit-area .recruit-box a {
      display: inline-block;
      width: 180px;
      height: 50px;
      margin-top: 50px;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 25px;
      line-height: 50px;
      font-size: 18px;
      font-weight: 500;
      transition: all .2s; }
      .recruit-area .recruit-box a:hover {
        background-color: #fff;
        color: #000;
        transition: all .2s; }
  .recruit-area .recruit-box:hover .bg {
    transform: scale(1.1, 1.1);
    transition: all 1s;
    -webkit-transition: all 1s;
    -ms-transition: all 1s; }

@media all and (min-width: 0\0 ) and (min-resolution: 0.001dpcm) {
  .award-area.gtie9 {
    display: none; }

  .award-area.ie9 {
    display: block; }

  .main-slider .slick-track .slick-slide .slider-bg,
  .main-slider .slick-track .slick-animated .slider-bg {
    transform: scale(1); } }
@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes award-itemShow {
  0% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes award-itemShow {
  0% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }


.main-slider .slick-track .slick-slide.no-eff .slider-bg,
.main-slider .slick-track .slick-slide.no-eff .slider-txt h2,
.main-slider .slick-track .slick-slide.no-eff .slider-txt .slider-txtSub {
  opacity:1;
  transform: none;
  transition: none; }
/*# sourceMappingURL=main.css.map */
